.inline-block{
    display: inline-block;
}
.vertical-middle{
    vertical-align: middle;
}
.vertical-top{
    vertical-align: top;
}
.vertical-bottom{
    vertical-align: bottom;
}
.logo{
    width: 100px;
    margin-top: 30px;
  
}
.container{
    margin-left: 30px;
}   
    

.navigation{

    margin-top: 25px;
}
.navigation-a{
    padding: 7.5px 0;
    display: inline-block;
    color: #3D58A6;
    font-size: 22px;
    font-family: 'BPG Nino Mtavruli Bold';

}
.navigation-a:hover{
    color: #EE4036;

}
.tesT{
    
}
.banner-img{
    margin-top: 20px;
}

.social-a img{
    height: 30px;
    
}
.social-li{
    display: inline-block;
}
.social-a.fb{
    padding-right: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: blue;
    display: inline-block;
}
.social-a.youtube{
    padding-left: 30px;
}
.footer{
    margin-top: 30px;
}
.article{
    margin-top: 40px;
}
.date{
    /* height: 56px;
    width: 56px; */
    padding: 8px;
    background-color: #3D58A6;
    font-size: 48px;
    color: white;
    display: inline-block;
    font-family: 'BPG Nino Mtavruli';
}
.month{
    font-size: 22px;
    color: #3D58A6;
    margin-top: 8px;
    font-family: 'BPG Nino Mtavruli';
}
.article-title{
    font-size: 20px;
    display: block;
    margin-top: 25px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.article-img{
    margin-top: 25px;
}
.par{
    font-size: 16px;
    margin-top: 30px;
    line-height: 20px;
    font-family: 'BPG Ingiri Arial';

}
.content-right-block{
    width: 280px;
}

.content-section{
    background-color: #E6E6E6;
    padding: 30px 0 30px 30px;
}
.iframe{
    width: 870px;
    height: 470px;
    border: 0;
    margin-left: 40px;
}
.contact-title{
    font-size: 20px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    color: #3D58A6;
}
.row{
    font-family: 'BPG Ingiri Arial';
    font-size: 16px;
    margin: 5px auto;
}
.key{
color: #808080;
}
.value{
color: #000000;
}
.feature-block{
    margin-top: 120px;
}
.feature-heading{
    font-family: 'Roboto';
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.feature-heading .link{
    text-transform: lowercase;
    color: red
}
.feature-item{
    width: 570px;
    background-color: #F2F2F2;
    padding: 15px 25px 40px 15px;
    display: inline-block;
    vertical-align: top;

}
.feature-item .title{
    font-family: 'Roboto';
    font-size: 22px;
    color: #3D58A6;
    text-transform: uppercase;
    margin-bottom: 20px;
    

}
.feature-item .content-img{
    width: 100px;
    margin: auto 60px auto 25px;
    vertical-align: bottom;
    display: inline-block;
 
}
.feature-item .content-p{
    display: inline-block;
    width: calc(100% - 185px);
    vertical-align: top;

}
